*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.logo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    border: 4px solid black;
    border-radius: 80px;
}
.navbar{
    display: flex;
}
.nav-list{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
}
.nav-list li{
    list-style: none;
    padding: 40px 40px;
}
.nav-list li a{
    text-decoration: none;
    font-size: 35px;
    color: white;
}
.nav-list li a:hover{
    color: tomato;
    text-decoration: none;
}
.background{
    background: rgba(0, 0, 0, 0.9) url(gadi.jpg);
    background-size: cover;
    background-blend-mode: darken; 
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 10px;

}
.line{
    width: 35px;
    background-color: white;
    height: 4px;
    margin: 8px 5px;
}
.container{
    min-height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#first{
    background: rgba(0, 0, 0, 0.6) url(fullschool.jpg);
    background-size: cover;
    background-blend-mode: darken;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
#first::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: -7;
    z-index: -1;
}
/*#first .first {
    max-width: 1200px;
}*/
#first h1{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#first h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#first h5{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#first p{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cont{
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about{
    background-color: #f6f5f4;
    border: 2px solid black;
    padding: 30px;
    margin: 60px;
}
#about h1{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-shadow: 4px 4px 8px red;
}
#about h2{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 10px;
}
#about p{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 35px;
}
#activities{
    background-color: #f6f5f4;
}
#activities .activities{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#activities .section-title {
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 8px red;
    font-size: 4rem;
    letter-spacing: .2rem;
    margin-bottom: 30px;
}
#activities .all-activities{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#activities .activities-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
}
#activities .activities-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-blend-mode: darken;
    color: black;
}
#activities .activities-info p{
    color: white;
    margin-top: 50px;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
}
#activities .activities-img{
    width: 100%;
    /*flex-basis: 60%;*/
    height: 100%;
    overflow: hidden;
}
#activities .activities-img img{
    transition: .3s ease transform;
}
#activities .activities-item:hover .activities-img img{
    transform: scale(1.1);
}
.contact{
    background-color: #f6f5f4;
    height: 90vh;
}
.text-center{
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 4px 8px red;
    letter-spacing: 0.1rem;
    padding-top: 30px;
    margin-bottom: 20px;
}
.form{
    max-width: 1000px;
    margin: 20px auto;
}
.form-input{
    margin: 20px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}
.btn{
    color: black;
    border: 2px solid grey;
    padding: 6px 10px;
    margin-left: 4px;
    vertical-align: middle;
    font-size: 17px;
    border-radius: 7px;
    background: none;
}
.title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    text-shadow: 4px 4px 8px red;
    padding-top: 40px;
    padding-bottom: 80px;
}
.ourteam{
	background: #f5f5f5;
}
.ourteam_wrapper .team{
    display: flex;
}
.ourteam_wrapper .team-1.team{
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ourteam_wrapper .team_member{
	width: 30%;
	height: auto;
	cursor: pointer;
    overflow: hidden;
    margin-right: 40px;
    border: 3px solid black;
}
.ourteam_wrapper .team_member h2{
    color: black;
    font-size: 1.7rem;
   text-align: center;
   align-items: center;
   text-shadow: 2px 2px 4px black;
}
.ourteam_wrapper .team_member h3{
    font-size: 2rem;
    color: black;
   text-align: center;
   align-items: center;
   text-shadow: 2px 2px 4px black;
}
.ourteam_wrapper .team_member p{
    font-size: 1.2rem;
    color: black
}
.ourteam_wrapper .team_member img{
	width: 100%;
	display: block;
	height: auto;
	transition: all 0.5s ease;
}
.ourteam_wrapper .team_member:hover img{
	transform: scale(1.1);
}
.footer{
    width: 100%;
    height: 100%;
	text-align: center;
	background: #444444;
    padding: 20px 0;
    margin-bottom: 10px;
}

.footer a{
    color: white;
    text-shadow: 4px 4px 8px black;
    font-size: 1.5rem;
}
/*media query for tablet */
@media only screen and (min-width: 765px) {
    #activities .activities-item{
        flex-direction: row;
    }
    #activities .activities-item:nth-child(even){
         flex-direction: row-reverse;
    }
    #activities .activities-item{
        height: 500px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #activities .all-activities .activities-info{
        height: 100%;
        width: 50%;
    }
    #activities .all-activities .activities-img{
        margin-right: 50px;
        height: 60%;
        width: 100%;
    }
    #activities .activities-img{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1110px){
    #activities .activities-info p{
        color: white;
        margin: auto;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 1.5rem;
    }
    .form{
        max-width: 800px;
        margin: 20px auto;
    }
    .text-center{
        text-align: center;
        font-size: 4rem;
        letter-spacing: 0.1rem;
        padding-bottom: 45px;
        padding-top: 2px;
    }
    .ourteam_wrapper .team_member{
        width: 50%;
        height: auto;
        cursor: pointer;
        overflow: hidden;
        margin-right: 40px;
        border: 3px solid black;
    }
    .footer{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .logo img{
        width: 60%;
    }
}
@media only screen and (max-width: 765px){
    #header .hamburger{
        margin-bottom: 295%;
        margin-left: 115%;
    }
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 600px;
        transition: all 0.7s ease-out;
        flex-direction: column;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 70px;
    }
    .v-class-resp{
        opacity: 0;
    } 
    #first h1,h3,h5,p{
       padding: 0 40px;
    }
    #about{
        background-color: #f6f5f4;
        border: 2px solid black;
        padding: 10px;
        margin: 15px;
    }
   .contact{
    background-color: #f6f5f4;
    height: 120vh;
    }
    .form{
        max-width: 100px;
        margin: 20px auto;
    }
    .ourteam_wrapper .team-1.team{
        display: flex;
        flex-direction: column;
    }
    .ourteam_wrapper .team_member{
        margin-top: 20px;
        width: 100%;
        height: auto;
        cursor: pointer;
        overflow: hidden;
        border: 3px solid black;
        align-items: center;
        justify-content: center;
    }
	.title{
		margin-top: 30px;
	}
    .text-center{
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.1rem;
        padding-bottom: 50px;
        margin-top: 0;
    }
    .logo img{
        width: 100%;
        height: 20%; 
    }
}
@media only screen and (max-width: 972px){
    .nav-list li{
        list-style: none;
        padding: 15px 15px;
    }
    .nav-list li a{
        text-decoration: none;
        font-size: 25px;
        color: white;
    }
    #activities .activities-info p{
        color: white;
        margin: auto;
        text-align: center;
    
        font-size: 1.2rem;
    }
    .form{
        max-width: 500px;
    }
    .text-center{
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.1rem;
        padding-bottom: 50px;
        margin-top: 0;
    }
    .title{
        font-size: 4rem;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 550px){
    .form{
        max-width: 300px;
    }
}
